@import (less) "normalize.css";
@import (less) "colors";
@import (less) "fonts";
@import (less) "loader";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  background: @primary-color;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

@import (less) "header";

.burger {
  display: none;
  margin-left: auto;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.cancel {
  background: transparent;
  border: none;

  display: none;
  cursor: pointer;

  & path {
    fill: @secondary-color;
  }
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;

  &__image {
    width: 30px;
    height: 30px;
  }

  &__text {
    color: @primary-color;
    margin: 0;
  }
}

.play-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;

  &:hover &__icon {
    box-shadow: 0px 0px 4px 3px @fade-color;
    border: @fade-color;
  }

  &:hover &__info {
    color: @fade-color;
  }

  &_big {
    gap: 20px;
  }

  &__icon {
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 1px solid @secondary-color;
    align-self: center;

    &::before {
      content: "";
      display: inline-block;
      position: relative;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 11px solid @secondary-color;
      top: 22px;
      left: 25px;
    }

    &_big {
      width: 80px;
      height: 80px;

      &::before {
        position: relative;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left-width: 13px;
        top: 30px;
        left: 34px;
      }
    }
  }

  &__info {
    color: @secondary-color;
    font-size: 18px;
    line-height: 1.25;

    &_big {
      max-width: 250px;
    }
  }
}

.btn {
  display: inline-block;
  background: @primary-color;
  color: @secondary-color;
  padding: 21px 22px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border: none;
  transition: box-shadow 200ms;

  &:hover {
    box-shadow: 3px 3px 10px 5px @fade-color;
  }
}

@import (less) "hero";
@import (less) "about";
@import (less) "advantages";
@import (less) "places";
@import (less) "video";
@import (less) "program";

.slider-btn {
  width: 46px;
  height: 46px;
  border: 1px solid @secondary-color;
  background: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.495;
  }
}

@import (less) "reviews";
@import (less) "gallery";
@import (less) "order";
@import (less) "footer";

.socials {
  display: flex;
  gap: 26px;

  &__link {
    line-height: 1;

    &:hover {
      opacity: 0.9;
    }
  }
}

.popup-container {
  width: 100%;
  height: 100%;
  background: fade(@primary-color, 50%);
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  display: none;
}

.popup {
  position: relative;
  width: 290px;
  min-height: 384px;
  background: @secondary-color;
  top: calc(50% - 214px);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;

  &__logo {
    border-bottom: 1px solid @primary-color;
  }

  &__logo-image {
    width: 25px;
    height: 25px;

    position: relative;
    top: 17px;
    left: calc(50% - 13px);
  }

  &__cancel {
    display: block;
    position: absolute;
    top: 14px;
    right: 12px;

    & svg {
      width: 12px;
      height: 12px;
    }

    & path {
      fill: @primary-color;
    }
  }

  &__title {
    font-size: 25px;
    color: @primary-color;
    font-weight: 600;
    line-height: 0.84;
    text-align: center;
    margin-top: 76px;
    margin-bottom: 28px;
  }

  &__text {
    font-size: 14px;
    color: @primary-color;
    line-height: 1.5;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 46px;
  }

  &__btn {
    border: none;
    width: 178px;
    padding: 15px 22px;
    margin: 0 auto;
    display: block;
    margin-bottom: 46px;
    cursor: pointer;
  }
}

.error-message {
  margin: 0;
  padding: 0 0 0 20px;
  color: @error-color;
}

.error-border {
  border: 1px solid @error-color;
  border-radius: 5px;
}

// Адаптация библиотеки owl.carousel.
.owl-carousel {
  .owl-item img {
    width: unset;
  }

  .owl-nav {
    position: relative;
    color: @secondary-color;
    margin-top: 24px;

    button {
      position: absolute;

      &.owl-prev {
        font-size: 36px;
        top: -19px;
        left: calc(50% - 69px);
      }

      &.owl-next {
        font-size: 36px;
        top: -19px;
        left: calc(50% + 49px);
      }
    }
  }
}

.owl-theme {
  .owl-dots {
    .owl-dot {
      span {
        width: 12px;
        height: 12px;
        background: transparent;
        border: 1px solid @secondary-color;
        margin: 4px 5px;
      }

      &.active {
        span {
          background: @secondary-color;
        }
      }
    }
  }
}

.hidden {
  display: none;
}

@import (less) "adaptive";