.reviews {
  padding-top: 37px;
  padding-bottom: 90px;

  &__title {
    font-size: 35px;
    color: @secondary-color;
    text-align: center;
    margin-bottom: 53px;
  }
}

.review-card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  background: @secondary-color;
  padding: 32px 56px 53px 54px;
  justify-content: space-between;

  &__name {
    grid-column: 1 / span 12;
    grid-row: 1;

    font-size: 20px;
    color: @primary-color;
    font-weight: 600;
    margin-bottom: 0;
  }

  &__rating {
    grid-column: 1 / span 12;
    grid-row: 2;

    font-size: 16px;
    color: @primary-color;
    font-weight: 600;
    margin-top: 19px;
    margin-left: 2px;
  }

  &__text {
    grid-column: 1 / span 7;
    grid-row: 3;
    max-width: 460px;

    font-size: 16px;
    color: @primary-color;
    line-height: 1.438;
    margin-top: 13px;
  }

  &__actions {
    grid-column: 1 / span 12;
    grid-row: 5;

    display: flex;
    gap: 6px;
  }

  &__media {
    grid-column: 8 / span 5;
    grid-row: 1 / 6;
    justify-self: end;
    margin-top: 23px;
    margin-bottom: -1px;
  }

  &__image {
    width: 100%;
  }

  &__slider-btn {
    border-color: @primary-color;

    svg path {
      fill: @primary-color;
    }
  }
}